body {
    background-color: rgba(203, 203, 232, .7)
}

.canvas {
    position: relative;
    text-align: center;
    width: 500px;
    margin: 80px 0 0 0;
    transition: .3s ease;
    margin: 0 auto;
    perspective: 800px;
}

.title {
    margin-bottom: 100px;
}

.box_front {
    position: relative;
    perspective-origin: center;
    perspective: 300px;
    overflow: hidden;

    width: 500px;
    height: 380px;
    animation: daytime 100s ease infinite;
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100px;
    height: 20px;

    content: '';

    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    width: 65px;
    height: 16px;
    content: '';
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    animation: shipmove 60s linear infinite;
    width: 100px;
    height: 36px;
}

@keyframes shipmove {
    from {
        left: 550px;
    }

    to {
        left: -150px;
    }
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    width: 10px;
    height: 17px;
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    top: -25px;
    right: 44px;
    animation: smoke 2s linear 0s infinite;
}

.smoke-2 {
    top: -25px;
    right: 42px;
    animation: smoke 2s linear 1.5s infinite;
}

.smoke-3 {
    top: -25px;
    right: 49px;
    animation: smoke 2s linear 3s infinite;
}

@keyframes smoke {

    0%,
    40% {
        opacity: 1;
    }

    40%,
    55% {
        transform: scale(1.5) translateY(-5px);
        opacity: .5;
    }

    100% {
        transform: scale(2) translateY(-10px);
        opacity: 0;
    }
}

.sun {
    position: absolute;
    top: 30px;
    right: 50%;
    animation: sun-spin 100s linear infinite;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

@keyframes daytime {
    0% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    17%,
    34% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    45% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    52%,
    90% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }

    100% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }


}

.sun-wrapper {
    position: absolute;
    transform: translate(45px, 320px);
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 2px;
    height: 100px;
    margin-left: -1px;
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

@keyframes sun-spin {
    0% {
        transform: rotate(0turn) translateX(-312px) rotate(-4turn);
    }

    100% {
        transform: rotate(1turn) translateX(-312px) rotate(0turn);
    }
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    width: 200px;
    height: 60px;
    opacity: .8;
    border-radius: 200px;
    background: #fff;
    transition: background .5s;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 100px;
    height: 80px;
    content: '';
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 10px;
    transform: translate3d(-600px, -350px, -700px);
    animation: cloud1-fly 70s linear 0s infinite;
}

.cloud-2 {
    top: 50px;
    transform: scale3d(-1, 1, 1) translate3d(700px, -180px, -500px);
    animation: cloud2-fly 40s linear 0s infinite;
}

.cloud-3 {
    top: 100px;
    transform: translate3d(-400px, -70px, -350px);
    animation: cloud3-fly 30s linear 0s infinite;
}

.cloud-4 {
    top: 170px;
    transform: scale3d(-1, 1, 1) translate3d(300px, 0, -250px);
    animation: cloud4-fly 20s linear 0s infinite;
}

@keyframes cloud1-fly {
    0% {}

    100% {
        left: 2200px;
    }
}

@keyframes cloud2-fly {
    0% {}

    100% {
        left: 1700px;
    }
}

@keyframes cloud3-fly {
    0% {}

    100% {
        left: 1300px;
    }
}

@keyframes cloud4-fly {
    0% {}

    100% {
        left: 1100px;
    }
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10px;
    content: '';
    background: #1d7fbb;
}

